 <%- include('../partials/header'); %>
  
  <section id="banner">
  
  </section>

  
  <section id="main" class="container">

    <section class="box special">
      <header class="major">
        <h2>Contact</h2>            
       
        <form action="submit-message" method="post">    
          <textarea id="message" name="message"></textarea>

          <Br>
            
          <input type="submit" value="Submit">        
        </form>

      </header>
     
    </section>
</section>  

<%- include('../partials/footer'); %>














