<%- include('../partials/header'); %>
  
<section id="banner">

</section>

<section id="main" class="container">

  <section class="box special">
    <header class="major">
      <p>Thank you for your message:</p>    
      
      <br>
     
      <!--Note use of %- to send raw unencoded message -->
      <%- message %>  
    </header>
   
  </section>
</section>  

<%- include('../partials/footer'); %>