 <%- include('../partials/header'); %>
  
  <section id="banner">
  
  </section>

  
  <section id="main" class="container">

    <section class="box special">
      <header class="major">
        <h2>Upload File</h2>   
         
       
<form 
id='uploadForm' 
action='admim/upload-file' 
method='post' 
encType="multipart/form-data">
  <input type="file" name="myFile" />
  <input type='submit' value='Upload!' />
</form>   
      </header>
     
    </section>
</section>  

<%- include('../partials/footer'); %>














