<section id="cta">

    <h2>Have a query?</h2>
    <p>Send it here and our dedicated team will get back to you ASAP!</p>

    <form method="post" action="contactMessage/send-message">
      
          <textarea type="text" name="message" id="message"></textarea>
       
          <BR><BR>
          <input type="submit" value="Send" class="fit" />
     
      </div>
    </form>

  </section>