<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <script src="/assets/js/site.js"></script>

    <meta name="theme-color" content="#000000">

<div id="page-wrapper">
  
<header id="header" class="alt">
  <h1><a href="/">HackTheCat</a></h1>

  <%- include('../partials/nav'); %>

</header>