
<nav id="nav">
    <ul>
      <% if (isLoggedIn) { %>
      <li><strong><span>Welome <%- email %></span></strong></li>
      <% } %>

      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>

      <% if (!isLoggedIn) { %>
        <li><a href="/signin/" class="button">Login</a></li>
      <% } %>

      <% if (isAdmin) { %>
        <li><a href="/admin/home" class="button">Admin</a></li>
      <% } %>

      <% if (isLoggedIn) { %>
        <li><a href="/user/update-profile">Update Profile</a></li>
        <li><a href="/signin/signout" class="button">Logout</a></li>
      <% } %>
     
<!-- 
      <li>
        <a href="#" class="icon solid fa-angle-down">Layouts</a>
        <ul>
          <li><a href="generic.html">Generic</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="elements.html">Elements</a></li>
          <li>
            <a href="#">Submenu</a>
            <ul>
              <li><a href="#">Option One</a></li>
              <li><a href="#">Option Two</a></li>
              <li><a href="#">Option Three</a></li>
              <li><a href="#">Option Four</a></li>
            </ul>
          </li>
        </ul>
      </li> -->
    </ul>
  </nav>